[flake8]
docstring-convention = numpy
max-line-length = 79
ignore =
    # slice notation whitespace, invalid
    E203
    # import at top, too many circular import fixes
    E402
    # line length, handled by bugbear B950
    E501
    # bare except, handled by bugbear B001
    E722
    # bin op line break, invalid
    W503
    # bin op line break, invalid
per-file-ignores =
    tests/*:D
